---
import './src/styles/global.css'
import { BASE_URL } from '../config';
---
<!doctype html>
<html lang="es">
	<head>
		<title>Links de referencia para el projecto de titulacion</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${BASE_URL}/favicon.svg` />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-soft);
	}
</style>
